* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--gray3);
    background-color: rgb(183, 215, 188);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0 0 0.5em;
}

a {
    /* text-decoration: none; */
    color: unset;
}

/* Dont stretch my Media */

img,
embed,
video,
object {
    max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */

.debug * {
    outline: 1px solid gold;
}

.router-link-active {
    text-decoration: underline;
    color: blue;
}

button {
    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;   
}

button:hover {
    background-color: var(--clr2);
    color: white;
    transition: .3s;
}
input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}

/* flex helpers */

.flex {
    display: flex;
  }
  
  .flex.flex-column{
      flex-direction: column;
  }
  
  .flex.justify-center{
      justify-content: center;
  }
  
  .flex.justify-between{
      justify-content: space-between;
  }
  
  .flex.align-center{
      align-items: center;
  }
  
  /* text helpers */
  
  .colored-text {
      color: var(--clr1);
  }
  
  /* list helpers */
  
  .clean-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
  }
  
  /* font awsome */
  
  .fa {
      font-family: fa;
  }
  
  .fa.fa-facebook::before {
      content: "\f39e";
  }
  
  .fa.fa-twitter::before {
      content: "\f099";
  }
  
  .fa.fa-dribbble::before {
      content: "\f17d";
  }
  
  .fa.fa-behance::before {
      content: "\f1b4";
  }

  .main-layout {
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  
  .container {
    max-width: 1100px;
    padding: 1em;
    margin: auto;
  }
  
  .router-view {
      min-height: calc(90vh - 3rem);
  }

  .app-footer {
    display: flex;
    align-items: center;
    
    height: 5vh;
    
    padding: 10px;
    background-color: rgb(135, 185, 150);
}
.app-footer p {
    margin: 0;
}

.book-details {
    display: grid;
  
    padding: 10px;
    background-color: rgb(220, 218, 163);
    margin-block-start: 10px;
    border: 1px solid black;
  }
  .book-details img {
    width: 200px;
    justify-self: center;
  }
  .book-details button {
    justify-self: end;
  }
  
  .book-details span {
      font-weight: bold;
  }
  
  .red {
      color: red;
  }
  .green {
      color: green;
  }

  .book-filter {
    padding: 10px;
    background-color: lightgray;
    margin-block-start: 10px;
  }

  .book-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
  
    padding: 10px;
    background-color: rgb(135, 185, 150);
    list-style-type: none;
  }
  .book-list ul li {
    padding: 10px;
    background-color: rgb(220, 218, 163);
  }
  